// Fonts


// Color
$btnbg-color:#F2E162 ;
$btn-color:#272727;
$p-color:#272727;
$link-color:#505050;
$cir-1color:#265781;
$cir-2color:#52B27B;
$cir-3color:#F2E162;
$white-color :#fff;
$behind-heading-color: rgba(0, 0, 0, 0.1);
$sub-heading-dark-color:#706960;
$border-color:#505050;
$bg-color:#F2E162;

// Container and Grid Spacing


// path

// icomoon
